.components {
  margin-bottom: 40px;
  max-height: calc(100% - 64px - 40px);

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.order {
  padding-right: 32px;
  height: 64px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 48px;
}