.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  list-style-type: none;
}

.card {
  width: var(--constructor-card-width);
  height: var(--constructor-card-height);
}