.categories {
  padding-bottom: 40px;

  list-style-type: none;

  overflow: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px 0;

  grid-area: categories;
}