.name {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 600;
  line-height: 30px;

  color: var(--text-color-primary);
}

.cards {
  padding: 0 8px;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  list-style-type: none;
}

.drag {
  width: var(--ingredient-card-width);
  height: var(--ingredient-card-height);

  cursor: grab;
}

.ingredient {
  width: 272px;
  height: 208px;

  color: var(--text-color-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}