.main {
  position: relative;

  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  justify-content: center;
  grid-template-areas:
    "panel1 panel2";

  grid-area: main;
}