.container {
  width: 100%;
  height: var(--header-height);

  background-color: var(--header-background);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  grid-area: header;
}

.logo {
  margin-right: 280px;
}