#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px 0px;
  grid-template-areas:
    "header"
    "main";
  grid-area: root;
}

/* .text {
  font-size: 48px;
  font-weight: 600;
}

.digital {
  font-family: var(--font-digital);
  font-size: 48px;
} */