:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --font-text: 'JetBrains Mono';
  --font-digital: 'Iceland';
  --text-color-primary: #f2f2f3;
  --text-color-secondary: #8585ad;

  /* Стили Header */
  --header-background: #1c1c21;
  --header-height: 88px;

  /* Табы */
  --tabs-width: 100%;
  --tabs-height: 56px;
  --tab-border-color: #2f2f37;
  --tab-border-color-active: #4c4cff;

  /* Карточка ингредиента */
  --ingredient-card-width: 272px;
  --ingredient-card-height: 208px;

  /* Карточка конструктора */
  --constructor-card-width: 568px;
  --constructor-card-height: 80px;

  /* Элемент конструктора */
  --constructor-element-width: 536px;
  --constructor-element-height: 80px;
  --constructor-element-background-color: #1c1c21;
}

body {
  background-color: #131316;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-text);
}

::-webkit-scrollbar {
  width: 8px;
}

/* цвет дорожки */
::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* цвет плашки */
::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}